body {
    font-family: Arial, Helvetica, sans-serif;
    color: #747704;
    font-weight: 300;
    background-color: lightgoldenrodyellow;
}

h4 {
    color: darkolivegreen;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.title-hr {
    color: red;
}

.title-img {
    max-height: 10%;
}

.social {
    color: darkslategray;
}

.bg-danger {
    background-color: #747704;
    color: #000000
}

.link {
    text-decoration: none;
    color: brown;
}

.footer {
    margin: 20px;
}